# ── TMDB API ──────────────────────────────
TMDB_API_KEY=

# ── MariaDB ───────────────────────────────
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# ── Segurança ─────────────────────────────
SECRET_KEY=

# ── Comunicação Interna entre Microsserviços ──
AUTH_SERVICE_URL=http://auth-service:8001

# ── Mailtrap / SMTP (auth-service) ────────
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@catalogofilmes.com

# ── Porta do container público (Portainer) 
APP_PORT=8210