# ── TMDB API ──────────────────────────────
TMDB_API_KEY=

# ── MariaDB ───────────────────────────────
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# ── Segurança ─────────────────────────────
SECRET_KEY=

# ── Porta do container (Portainer) ────────
APP_PORT=